[general]

L1_RPC_ENDPOINT = "http://l1-devnet:8545"
L1_RPC_ENDPOINT_WEBSOCKET = "ws://l1-devnet:8546"
L2_RPC_ENDPOINT = "http://l2-rpc:8545"

CHAIN_NAME_L1 = "Ethereum"
CHAIN_NAME_L2 = "Scroll SDK"
CHAIN_ID_L1 = 111111
CHAIN_ID_L2 = 221122

L1_CONTRACT_DEPLOYMENT_BLOCK = 0

[accounts]

DEPLOYER_PRIVATE_KEY = ""

L1_COMMIT_SENDER_PRIVATE_KEY = ""
L1_FINALIZE_SENDER_PRIVATE_KEY = ""
L1_GAS_ORACLE_SENDER_PRIVATE_KEY = ""
L2_GAS_ORACLE_SENDER_PRIVATE_KEY = ""

DEPLOYER_ADDR = ""
OWNER_ADDR = ""

L1_COMMIT_SENDER_ADDR = ""
L1_FINALIZE_SENDER_ADDR = ""
L1_GAS_ORACLE_SENDER_ADDR = ""
L2_GAS_ORACLE_SENDER_ADDR = ""

[db]

ADMIN_SYSTEM_DB_CONNECTION_STRING = ""
BLOCKSCOUT_DB_CONNECTION_STRING = ""
BRIDGE_HISTORY_DB_CONNECTION_STRING = ""
CHAIN_MONITOR_DB_CONNECTION_STRING = ""
GAS_ORACLE_DB_CONNECTION_STRING = ""
COORDINATOR_DB_CONNECTION_STRING = ""
L1_EXPLORER_DB_CONNECTION_STRING = ""
ROLLUP_NODE_DB_CONNECTION_STRING = ""
ROLLUP_EXPLORER_DB_CONNECTION_STRING = ""

[gas-token]

ALTERNATIVE_GAS_TOKEN_ENABLED = false
# EXAMPLE_GAS_TOKEN_DECIMAL = 6
# L1_GAS_TOKEN = "0x68a041e7c20Afa4784b5d9C63246c89545Ac0E66"
GAS_ORACLE_INCORPORATE_TOKEN_EXCHANGE_RATE_ENANBLED = false
EXCHANGE_RATE_UPDATE_MODE = "Fixed"
FIXED_EXCHANGE_RATE = "0.01"
TOKEN_SYMBOL_PAIR = "UNIETH"

[sequencer]

L2_GETH_STATIC_PEERS = ''

L2GETH_SIGNER_ADDRESS = ""
L2GETH_KEYSTORE = ''
L2GETH_PASSWORD = ""
L2GETH_NODEKEY = ""

L2GETH_CCC_NUMWORKERS = 5

[bootnode.bootnode-0]
L2GETH_NODEKEY=""

[rollup]

MAX_TX_IN_CHUNK = 100
MAX_BLOCK_IN_CHUNK = 100
MAX_CHUNK_IN_BATCH = 15
MAX_BATCH_IN_BUNDLE = 30
MAX_L1_MESSAGE_GAS_LIMIT = 10_000_000
TEST_ENV_MOCK_FINALIZE_ENABLED = true
TEST_ENV_MOCK_FINALIZE_TIMEOUT_SEC = 300

[frontend]

EXTERNAL_RPC_URI_L1 ="http://l1-devnet.scrollsdk"
EXTERNAL_RPC_URI_L2 = "http://l2-rpc.scrollsdk"
BRIDGE_API_URI = "http://bridge-history-api.scrollsdk/api"
ROLLUPSCAN_API_URI = "http://rollup-explorer-backend.scrollsdk/api"
EXTERNAL_EXPLORER_URI_L1 = "http://l1-explorer.scrollsdk"
EXTERNAL_EXPLORER_URI_L2 = "http://blockscout.scrollsdk"
ADMIN_SYSTEM_DASHBOARD_URI = "http://admin-system-dashboard.scrollsdk"
GRAFANA_URI = "http://grafana.scrollsdk"

[genesis]

L2_MAX_ETH_SUPPLY = "226156424291633194186662080095093570025917938800079226639565593765455331328"
L2_DEPLOYER_INITIAL_BALANCE = 1000000000000000000

[contracts]

DEPLOYMENT_SALT = "salt-000"

# contracts deployed outside this script
L1_FEE_VAULT_ADDR = "0x0000000000000000000000000000000000000001"

[contracts.overrides]

# L1_WETH = "0xfFf9976782d46CC05630D1f6eBAb18b2324d6B14"
# L1_PLONK_VERIFIER = "0x4e59b44847b379578588920cA78FbF26c0B4956C"

L2_MESSAGE_QUEUE = "0x5300000000000000000000000000000000000000"
L1_GAS_PRICE_ORACLE = "0x5300000000000000000000000000000000000002"
L2_WHITELIST = "0x5300000000000000000000000000000000000003"
L2_WETH = "0x5300000000000000000000000000000000000004"
L2_TX_FEE_VAULT = "0x5300000000000000000000000000000000000005"


[coordinator]

CHUNK_COLLECTION_TIME_SEC = 3600
BATCH_COLLECTION_TIME_SEC = 1800
BUNDLE_COLLECTION_TIME_SEC = 600
COORDINATOR_JWT_SECRET_KEY = ""

[ingress]

FRONTEND_HOST = "frontends.scrollsdk"
BRIDGE_HISTORY_API_HOST = "bridge-history-api.scrollsdk"
ROLLUP_EXPLORER_API_HOST = "rollup-explorer-backend.scrollsdk"
COORDINATOR_API_HOST = "coordinator-api.scrollsdk"
RPC_GATEWAY_HOST = "l2-rpc.scrollsdk"
BLOCKSCOUT_HOST = "blockscout.scrollsdk"
ADMIN_SYSTEM_DASHBOARD_HOST = "admin-system-dashboard.scrollsdk"
L1_DEVNET_HOST = "l1-devnet.scrollsdk"
L1_EXPLORER_HOST = "l1-explorer.scrollsdk"
